body {
    background-color: rgb(255, 255, 255);

}
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 #f1f1f1;
    /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.custom-bg-repairs-red {
    background-color: #ff1744!important;
    color: rgb(0, 0, 0) !important;
}
.custom-bg-repairs-green {
    background-color: #64dd17 !important;
    color: rgb(0, 0, 0) !important;
}
.custom-bg-repairs-yellow {
    background-color: #fbc02d !important;
    color: rgb(0, 0, 0) !important;
}
