body {

    background-color: whitesmoke;
    
    overflow: hidden;
    height: 100vh;
}

.blur-card {
    background: rgba(255, 255, 255, 0.2);
    /* พื้นหลังโปร่งแสง */
    backdrop-filter: blur(10px);
    /* เบลอพื้นหลัง */
    -webkit-backdrop-filter: blur(10px);
    /* รองรับ Safari */
}

header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    color: white;
    border-radius: 8px;
}


.main-heading {
    max-width: 800px;
    text-align: center;
    margin: auto;
}


.main-heading h1 {
    font-size: 50px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #000000;

}

