.custom-bg-repairs-red {
  background-color: #ff1744 !important;
  color: rgb(0, 0, 0) !important;
}
.custom-bg-repairs-green {
  background-color: #64dd17 !important;
  color: rgb(0, 0, 0) !important;
}
.custom-bg-repairs-yellow {
  background-color: #fbc02d !important;
  color: rgb(0, 0, 0) !important;
}
