.container {
  padding-left: 280px;
}
@media (max-width: 995px) {
    .container {
        padding-left: 15px !important; /* ยกเลิก padding 280px บนมือถือ */
        padding: 15px; /* เพิ่ม padding ด้านข้างเล็กน้อย */
    }

}
