body{
    overflow: hidden;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.border-bg1 {
    background-color: #123 !important;
    color: white !important;
    border-radius: 16px;
} 

.no-scroll {
  overflow: hidden;
}